@font-face {
    font-family: "inter";
    src: url('../../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

.custom-options::-webkit-scrollbar {
    width: 6px;
}

.custom-options::-webkit-scrollbar-track {
    background: transparent;
}

.custom-options::-webkit-scrollbar-thumb {
    background-color: rgba(42, 54, 71, 1) !important;
    border-radius: 12px !important;
    border: none !important;
    background-clip: padding-box;
}

.custom-options::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 1);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: rgba(246, 247, 248, 1);
    font-family: "inter";
}

.errorFeedbackForInput {
    border: 1px solid red !important;
}

a {
    text-decoration: none;
    color: unset;
}

.title_position {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 920.73px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
    width: 440px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
    width: 440px;
}

.separator {
    border-left: 1px solid #b6b6b6;
    height: 424px;
    margin: 0 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    height: 24px;
    display: block;
}

.form-group textarea {
    width: 100%;
    height: 136px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(227, 227, 227);
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    border-radius: 10px;
}

.form-group select {
    height: 48px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 10px;
}

.form-group select:focus {
    outline: 1px solid rgba(41, 171, 226, 1);
}

.form-group textarea:focus {
    outline: 1px solid rgba(41, 171, 226, 1);
}

input:focus {
    outline: 1px solid rgba(41, 171, 226, 1);
}

.form-group input {
    height: 48px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 10px;
}

.input-container-addTask {
    position: relative;
}

.input-container-addTask input {
    height: 48px;
    width: 100%;
    padding: 8px;
    padding-right: 70px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 6px;
}

.icon-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 3px;
    /* Space between icons and separator */
}

.input-icon {
    height: 24px;
    width: auto;
    cursor: pointer;
}

.input-icon.hidden {
    display: none;
}

.input-icon:hover {
    background-color: lightgrey;
    border-radius: 999px;
}

.separatorSubtask {
    height: 24px;
    border-left: 1px solid rgba(209, 209, 209, 1);
    margin: 0 5px;
    /* Space around the separator */
    display: none;
    /* Hide by default */
}

/* Show the separator and change icons when the input is focused */
.input-container-addTask input:focus+.icon-container .separatorSubtask {
    display: block;
}

.input-container-addTask input:focus+.icon-container #subtaskAdd {
    display: none;
}

.input-container-addTask input:focus+.icon-container #subtaskCancel,
.input-container-addTask input:focus+.icon-container #subtaskSave {
    display: inline;
}

/* Reset to original state when input is not focused
.input-container-addTask input:not(:focus)+.icon-container .separatorSubtask {
    display: none;
}

.input-container-addTask input:not(:focus)+.icon-container #subtaskAdd {
    display: inline;
}

.input-container-addTask input:not(:focus)+.icon-container #subtaskCancel,
.input-container-addTask input:not(:focus)+.icon-container #subtaskSave {
    display: none;
} */

.button-group {
    display: flex;
    justify-content: flex-end;
    width: 309px;
    height: 56px;
    top: 889px;
    left: 995.25px;
    gap: 16px;
    opacity: 0px;

}

.createButton {
    width: 183px;
    height: 56px;
    padding: 16px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.clearButton {
    width: 110px;
    height: 56px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: rgb(255, 255, 255);
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.clearButton:hover {
    border-color: rgba(0, 124, 238, 1);
    color: rgba(0, 124, 238, 1);
}

.createButton:hover {
    background-color: rgba(0, 124, 238, 1);
}

.sendFormOptions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.required_field {
    width: 170px;
    height: 27px;
}

.urgency {
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.formOnsubmit {
    margin-left: 232px
}

.form {
    display: flex;
}

.urgentStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 16px 10px 16px 10px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    border: transparent;
    width: 136px;
    height: 56px;
}

.urgentIcon,
.lowIcon {
    width: 20px;
    height: 14.51px;
    object-fit: contain;
}

.mediumIcon {
    width: 20px;
    height: 7.45px;
    object-fit: contain;
}

.urgentStatus:hover {
    box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}

.urgent-selected {
    background-color: rgba(255, 61, 0, 1);
    color: white;
}

.medium-selected {
    background-color: rgba(255, 168, 0, 1);
    color: white;
}

.low-selected {
    background-color: rgba(122, 226, 41, 1);
    color: white;
}

.urgentStatus.urgent-selected,
.urgentStatus.medium-selected,
.urgentStatus.low-selected {
    box-shadow: none;
}

.form-group select option[disabled] {
    color: #999;
}

.subtaskUnsortedList {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}

.subtaskListItem {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    transition: background-color 0.3s ease;
    padding-left: 30px;
    margin-left: 10px;
    border-radius: 12px;
}

.subtaskListItem::before {
    content: '•';
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: black;
}

.subtaskListItem:hover {
    background-color: rgb(240, 240, 240);
}

.subtaskIcons {
    display: none;
    align-items: center;
}

.subtaskListItem:hover .subtaskIcons {
    display: flex;
}

.subtaskListText {
    height: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.subtaskIcon {
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 999px;
    padding: 1px;
}

.subtaskIcon:hover {
    transform: scale(0.9);
    background-color: #ccc;
}

/* Edit Mode Styles */
.subtaskEditContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0;
    gap: 0;
}

.subtaskEditInput {
    flex-grow: 1;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.subtaskEditIcons {
    display: flex;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    gap: 5px;
}

.subtaskEditIcons img {
    height: 20px;
    width: auto;
}

.subtaskListItem.edit-mode::before {
    content: none;
}

.subtaskEditContainer input {
    height: 32px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(227, 227, 227);
    border-bottom: 1px solid rgba(41, 171, 226, 1);
    border-radius: 0px;
    outline: none;
}

.subtaskEditSeparator {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    border-left: 1px solid rgba(209, 209, 209, 1);
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}

.custom-select {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 440px;
    cursor: pointer;
}

.custom-select-trigger {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-select-trigger img.arrow-icon {
    width: 7.21px;
    height: 4.6px;
    transition: transform 0.3s ease;
}

.custom-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 438px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.custom-options.open {
    display: block;
}

.custom-options.open+.custom-select-trigger img.arrow-icon {
    transform: rotate(90deg);
}

.custom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 10px;
}

.custom-option:hover {
    background-color: #f0f0f0;
}

.custom-option input[type="checkbox"] {
    gap: 0px;
    opacity: 0px;
    width: 16px;
    height: 16px;
    padding: 4px 0 0 0;
    gap: 0px;
    border-radius: 3px 0 0 0;
    cursor: pointer;
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.custom-option input[type="checkbox"]:checked {
    background-color: #ffffff;
    border-color: #000000;
}

.custom-option input[type="checkbox"]:checked::after {
    width: 16px;
    height: 16px;
    content: '✔';
    font-size: 16px;
    color: #000000;
    display: block;
    text-align: center;
    transform: translate(-7%, -61%);
}

.profile-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
}

.profileCircleAndName {
    display: flex;
    align-items: center;
}

.selected-contacts {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selected-contacts .profile-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-shrink: 0;
    font-size: 12px;
}

.selected-contacts .more-indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    background-color: #ddd;
}

.custom-option.selected {
    background-color: rgba(42, 54, 71, 1) !important;
    color: #fff;
    /* Optional: Adjust text color for better contrast */
}

.subtasksList {
    overflow-y: auto;
    height: 140px;
}

@media (max-width: 1240px) {
    .formOnsubmit {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .custom-options {
        width: 396px;
    }

    .form {
        flex-direction: column;
        align-items: center;
        width: 396px;
    }

    .left {
        width: 396px;
    }

    .right {
        width: 396px;
    }

    .title_position {
        width: 396px;
        font-size: 47px;
        margin-bottom: 48px;
    }

    .separator {
        display: none;
    }

    body::-webkit-scrollbar {
        width: 0px;
    }

    .form-group input {
        width: 396px;
        height: 40px;
    }

    .form-group textarea {
        width: 396px;
        height: 88px;
    }

    .custom-select {
        width: 396px;
    }

    .form-group select {
        width: 396px;
    }

    .urgency {
        width: 396px;
    }

    .urgentStatus {
        width: 121.33px;
        height: 41px;
    }

    .icon-container {
        right: 8px;
        top: 45%;
    }

    .sendFormOptions {
        width: 396px;
        margin-bottom: 120px;
        margin-top: 0;
        position: fixed;
        bottom: -40px;
        background-color: rgb(246, 247, 258);
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .subtasks_margin {
        margin-bottom: 180px;

    }

    .subtasksList {
        max-height: 100px;
    }

    .clearButton {
        display: none;
    }

    .button-group {
        width: 183px;
    }

    .required_field {
        font-size: 16px;
        width: 163px;
    }

    .createButton {
        width: 183px;
        height: 56px;
    }
}

@media (max-width: 440px) {
    .custom-options {
        width: 300px;
    }

    .form {
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    form {
        width: 300px;
    }

    .left {
        width: 300px;
    }

    .right {
        width: 300px;
    }

    .title_position {
        width: 300px;
        font-size: 47px;
        margin-bottom: 48px;
    }

    .separator {
        display: none;
    }

    body::-webkit-scrollbar {
        width: 0px;
    }

    .form-group input {
        width: 300px;
        height: 40px;
    }

    .form-group textarea {
        width: 300px;
        height: 88px;
    }

    .custom-select {
        width: 300px;
    }

    .custom-select-trigger {
        font-size: 12px;
    }

    .form-group select {
        width: 300px;
    }

    .urgency {
        width: 300px;
    }

    .createButton {
        width: 124px;
        height: 48px;
        font-size: 14px;
    }

    .required_field {
        font-size: 12px;
        width: 163px;
        margin-top: 16px;
    }

    .urgentStatus {
        width: 96px;
        height: 41px;
        font-size: 12px;
        font-weight: 700;
    }

    .sendFormOptions {
        width: 300px;
        margin-bottom: 100px;
        position: fixed;
        bottom: -24px;
        background-color: rgba(246, 247, 248, 1);
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .subtasks_margin {
        max-height: 150px;
    }
}

@media (min-width: 1000px) and (max-width: 1240px) {
    .sendFormOptions {
        position: absolute;
        bottom: 88px;
        left: 10%;
        right: 10%;
    }

    .subtasksList {
        height: 100px;
    }
}