@font-face {
    font-family: "inter";
    src: url('../../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: rgb(246, 247, 258);
    font-family: "inter";
}

a {
    text-decoration: none;
    color: unset;
}

.inputAndAddTaskContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.boardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 6rem 0 17rem;
    ;
}

h1 {
    font-size: 61px;
}

.addTaskButton {
    padding: 12px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.addTaskButton:hover {
    cursor: pointer;
    background-color: rgba(0, 124, 238, 1);
}

.plusIcon {
    width: 18px;
    height: 18px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(207, 207, 208);
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

#userInput {
    flex-grow: 1;
    padding: 12px 16px;
    color: black;
    border: none;
    outline: none;
    border-radius: 0;
}

.input-container:hover {
    border: 1px solid rgba(42, 54, 71, 1);
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 18px;
    background-color: white;
    border: none;
    border-left: 1px solid rgb(207, 207, 208);
    cursor: pointer;
}

.search-button:hover {
    border-left: 1px solid rgba(42, 54, 71, 1);
}

.notesAndBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 3rem 0px 16rem;
    font-weight: 700;
    background: rgb(246, 247, 258);
}

.categoryAndIconBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 244px;
}

.categoryAndIconBar img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.categoryAndIconBar img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32.4px;
}

.urgentIcon,
.lowIcon {
    width: 20px;
    height: 14.51px;
}

.mediumIcon {
    width: 20px;
    height: 7.45px;
    object-fit: contain;
}

.task {
    width: 252px;
    border-radius: 24px;
    background-color: white;
    padding: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.NoTaskToDo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 48px;
    border-radius: 24px;
    background: rgba(231, 231, 231, 1);
    padding: 16px;
    border: 1px dashed rgba(168, 168, 168, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    color: rgba(168, 168, 168, 1);

}

.categoryUserStory {
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    padding: 4px 16px 4px 16px;
    width: fit-content;
    border-radius: 8px;
    color: white;
}

.categoryTechnicalTask {
    background: rgba(31, 215, 193, 1);
    display: flex;
    justify-content: flex-start;
    padding: 4px 16px 4px 16px;
    width: fit-content;
    border-radius: 8px;
    color: white;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100px;
}

.task:active {
    cursor: grabbing;
}


.taskTitleAndDescription {
    width: 220px;
}

.title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: rgba(42, 54, 71, 1);
}

.description {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: rgba(168, 168, 168, 1)
}

.taskSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 380px 3rem 0px 16rem;
    padding: 0 0 20px 0;
    font-weight: 700;
}

.menuBar {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: rgb(246, 247, 258);
    height: 232px;
}

.progress-container {
    width: 128px;
    height: 8px;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.4s ease;
}

.progress-text {
    font-size: 12px;
    color: black;
    font-weight: 400;
    line-height: 14.4px;
    display: flex;
}

.progressSection {
    display: flex;

    gap: 10px;
    width: 220px;
    height: 16px;
}

.plusIconBoard {
    background-image: url(../../img/Property\ 1=Default.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.plusIconBoard:hover {
    background-image: url(../../img/Property\ 1=click.png);
}


.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 1116px;
    height: 870px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    border-radius: 30px;
    animation: slideInRight 0.5s ease-out;
}

.overlay.slide-out {
    animation: slideOutRight 0.5s ease-out forwards;
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}



.tall_task_overlay {
    animation: slideInLeftTall 0.5s ease-out;
}

.tall_task_overlay.slide-out {
    animation: slideOutLeftTall 0.5s ease-out forwards;
}

#tall_task_overlay_background {
    display: none;
}

.categoryTechnicalTaskOverlay {
    background: rgba(31, 215, 193, 1);
    display: flex;
    justify-content: flex-start;
    padding: 4px 16px;
    width: fit-content;
    border-radius: 8px;
    color: white;
    margin-top: 40px;
    margin-bottom: 24px;
}

.categoryUserStoryOverlay {
    background-color: rgba(0, 56, 255, 1);
    display: flex;
    justify-content: flex-start;
    padding: 4px 16px;
    width: fit-content;
    border-radius: 8px;
    color: white;
    margin-top: 40px;
    margin-bottom: 24px;
}

.contact_icon_overlay {
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 122, 0, 1);
    width: 32px;
    height: 32px;
    border-radius: 45px;
    color: white;
    text-align: center;
    align-content: space-evenly;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
}

.overlay_user_position {
    width: 220px;
    height: 32px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.subtask-list {
    padding: 0;
    margin: 0;
}

.profileCircleAndNameForFullTaskView {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 16px;
}

#assignedContactsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.d-none {
    display: none;
}

#contactCircles {
    display: flex;
    align-items: center;
}

.profile-circleSmall {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    color: white;
    margin-left: -10px;
}

.profile-circleSmall:first-child {
    margin-left: 0;
}

.contactsAndUrgencyInfo {
    width: 220px;
    height: 32px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.no-contacts {
    background-color: #ff0d0d;
    color: white;
    border-radius: 999px;
    padding: 1px 12px 1px 12px;
    font-weight: 400;
}

.categoryPlacement {
    display: flex;
    justify-content: left;
    width: 220px;
}