@font-face {
    font-family: "inter";
    src: url('../../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

html,
body {
    font-family: "inter";
    overflow: hidden;
}

.main_container {
    display: flex;
}

.contact_main_container {
    width: 456px;
    height: 928px;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    top: 96px;
    display: flex;
    justify-content: center;
}

.contact_container {
    width: 400px;
    height: 1188px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_separator {
    width: 352px;
    height: 16px;
}

.separator {
    width: 352px;
    border: 1px solid rgba(209, 209, 209, 1)
}

.contact_title_container {
    width: 569px;
    height: 73px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 180px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: unset;
}

.button_container {
    width: 456px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_button {
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_button:hover {
    cursor: pointer;
    background-color: rgba(0, 124, 238, 1);
}

.button_icon {
    margin-left: 16px;
    text-align: center;
    height: 32px;
}

.alphabetical_index {
    width: 352px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.letter {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 14px;
    height: 24px;
    margin-left: 32px;
}

.contact_small_card {
    width: 352px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact_small_card:hover {
    cursor: pointer;
    background: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 10px;
}

.contact_icon {
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 122, 0, 1);
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    text-align: center;
    align-content: space-evenly;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    margin-right: 24px;
    margin-left: 16px;
}

.contact_large_card {
    width: 461px;
    height: 364px;
    margin-left: 40px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.tall_card_header {
    display: flex;
    align-items: center;
}

.large_card_name {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    margin: 0;
}

.large_cards_buttons {
    display: flex;
}

.edit_icon {
    width: 18.28px;
    height: 18.25px;
}

.delete_icon {
    width: 16px;
    height: 18px;

}

.edit_button {
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.edit_button:hover {
    cursor: pointer;
    opacity: 0.2;
}

.delete_button {
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-left: 16px;
}

.delete_button:hover {
    cursor: pointer;
    opacity: 0.2;
}

.contact_icon_large {
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 122, 0, 1);
    width: 120px;
    height: 120px;
    border-radius: 70px;
    color: white;
    text-align: center;
    align-content: space-evenly;
    font-size: 47px;
    font-weight: 500;
    line-height: 54.4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.contact_info {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.text_info {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.df {
    display: flex;
}

.m0 {
    margin: 0;
}

.font_color_blue {
    color: rgba(0, 124, 238, 1);
}

.contact_title {
    font-size: 61px;
    font-weight: 700;
}

.contact_subtitle {
    font-size: 27px;
    font-weight: 400;
}

.title_separator {
    height: 59px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-inline-start-style: none;
}

.overlay_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 1212px;
    height: 592px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    border-radius: 30px;
    animation: slideInRight 0.5s ease-out;
}

.overlay.slide-out {
    animation: slideOutRight 0.5s ease-out forwards;
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.overlay_title_container {
    width: 467px;
    height: 594px;
    background-color: rgba(42, 54, 71, 1);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.overlay_title {
    font-family: "inter";
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    color: white;
}

.overlay_subtitle {
    font-family: "inter";
    font-size: 27px;
    font-weight: 400;
    margin: 0;
    color: white;
}

.overlay_logo {
    width: 55.6px;
    height: 66.48px;
    margin-bottom: 16px;
}

.title_underline {
    height: 0;
    width: 90px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 3px;
    border-top-style: none;
    margin-top: 16px;
    display: flex;
}

.overlay_content_left {
    width: 40%;
    display: flex;
}

.overlay_content_right {
    width: 60%;
    display: flex;
}

.overlay_content_position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_title_position {
    display: flex;
    flex-direction: column;
}

.user_overlay {
    border: 3px solid white;
    background-color: rgba(209, 209, 209, 1);
    border-radius: 559px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 60px;
}

.input_container_overlay {
    width: 422px;
    height: 48px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.input_size_overlay {
    border: none;
    width: 380px;
    height: 24px;
    margin-left: 16px;
}

.input_size_overlay:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.margin_input_icon {
    margin-right: 16px;
}

.overlay_close_button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    margin-top: 40px;
}

.overlay_close_button:hover {
    background-color: rgba(209, 209, 209, 0.314);
    cursor: pointer;
}

.close_icon_position {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 592px;
}

.form_position {
    height: 592px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d_none {
    display: none;
}

.submit_icon {
    width: 111px;
    height: 57px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.submit_icon:hover {
    background-color: rgba(41, 171, 226, 1);
}

.create_icon {
    width: 214px;
    height: 57px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.create_icon img {
    margin-left: 8px;
}

.create_icon:hover {
    background-color: rgba(41, 171, 226, 1);
}

.cancel_icon {
    width: 126px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    color: rgba(42, 54, 71, 1);
    font-family: "inter";
    font-weight: 700;
    font-size: 21px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-image: url(../../img/iconoir_cancel.png);
}
.cancel_icon:hover {
    color: rgba(41, 171, 226, 1);
    border-color: rgba(41, 171, 226, 1);
    background-image: url(../../img/iconoir_cancel_blue.png);
}

.delete_button_overlay {
    width: 113px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    color: rgba(42, 54, 71, 1);
    font-family: "inter";
    font-weight: 700;
    font-size: 21px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete_button_overlay:hover {
    color: rgba(41, 171, 226, 1);
    border-color: rgba(41, 171, 226, 1);
}

.form_buttons {
    display: flex;
}

.slide-in-notification {
    width: 326px;
    height: 74px;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20%;
    right: -600px;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 1000;
    transition: right 0.5s ease-out;
}

.show-notification {
    right: 20px;
}