@font-face {
    font-family: "inter";
    src: url('../../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

html,
body {
    font-family: "inter";
    overflow: hidden;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main_container {
    display: flex;
    overflow: hidden;
    flex: 1;
}

.contact_list {
    margin-left: 232px;
    display: flex;
    flex-direction: column;
    padding-top: 96px;
}

.scroll_area_contacts {
    height: 100%;
    overflow-y: scroll;
    position: relative;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll_area_contacts::-webkit-scrollbar {
    width: 8px;
}

.scroll_area_contacts::-webkit-scrollbar-track {
    background: transparent;
}

.scroll_area_contacts::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 1) !important;
    border-radius: 12px !important;
    border: none !important;
    background-clip: padding-box;
}

.scroll_area_contacts::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 1);
}

.contact_main_container {
    width: 440px;
    height: 100vh;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    padding-top: 80px;
    scrollbar-width: thin;
    scrollbar-color: rgba(168, 168, 168, 1) rgba(255, 255, 255, 1);
}

.contact_container {
    width: 100%;
    overflow-y: auto;
    margin-top: 20px;
}

.contact_separator {
    width: 352px;
    height: 16px;
}

.separator {
    width: 352px;
    border: 1px solid rgba(209, 209, 209, 1)
}

.contact_title_container {
    width: 569px;
    height: 73px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 180px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: unset;
}

.button_container {
    width: 440px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    top: 96px;
    z-index: 1;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.add_button {
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.add_button:hover {
    cursor: pointer;
    background-color: rgba(0, 124, 238, 1);
}

.button_icon {
    margin-left: 16px;
    text-align: center;
    height: 32px;
}

.alphabetical_index {
    width: 352px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.letter {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 14px;
    height: 24px;
    margin-left: 32px;
}

.contact_small_card {
    width: 382px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 24px;
    margin-top: 8px;
}

.contact_small_card:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    color: black;
    border-radius: 10px;
}

.contact_icon {
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 122, 0, 1);
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    text-align: center;
    align-content: space-evenly;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    margin-right: 24px;
    margin-left: 40px;
}

.contact_large_card {
    width: 461px;
    height: 364px;
    margin-left: 40px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.tall_card_header {
    display: flex;
    align-items: center;
}

.large_card_name {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    margin: 0;
    width: 500px;
}

.large_cards_buttons {
    display: flex;
}

.edit_icon {
    width: 18.28px;
    height: 18.25px;
}

.delete_icon {
    width: 16px;
    height: 18px;

}

.mobile_edit {
    font-size: 12px;
}

.edit_button {
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.edit_button:hover {
    cursor: pointer;
    opacity: 0.2;
}

.delete_button {
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-left: 16px;

}

.delete_button:hover {
    cursor: pointer;
    opacity: 0.2;
}

.contact_icon_large {
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 122, 0, 1);
    width: 120px;
    height: 120px;
    border-radius: 70px;
    color: white;
    text-align: center;
    align-content: space-evenly;
    font-size: 47px;
    font-weight: 500;
    line-height: 54.4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}

.edit_contact_icon_large {
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 122, 0, 1);
    width: 120px;
    height: 120px;
    border-radius: 70px;
    color: white;
    text-align: center;
    align-content: space-evenly;
    font-size: 47px;
    font-weight: 500;
    line-height: 54.4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}

.contact_info {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.text_info {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.df {
    display: flex;
}

.m0 {
    margin: 0;
}

.font_color_blue {
    color: rgba(0, 124, 238, 1);
}

.contact_title {
    font-size: 61px;
    font-weight: 700;
}

.contact_subtitle {
    font-size: 27px;
    font-weight: 400;
}

.title_separator {
    height: 59px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-inline-start-style: none;
}

.title_separator_respo {
    height: 59px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-inline-start-style: none;
    display: none;
}

.overlay_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 1212px;
    height: 592px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1002;
    border-radius: 30px;
    animation: slideInRight 0.5s ease-out;
    display: flex;
}

.overlay.slide-out {
    animation: slideOutRight 0.5s ease-out forwards;
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.overlay_title_container {
    width: 467px;
    height: 594px;
    background-color: rgba(42, 54, 71, 1);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.overlay_title {
    font-family: "inter";
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    color: white;
}

.overlay_subtitle {
    font-family: "inter";
    font-size: 27px;
    font-weight: 400;
    margin: 0;
    color: white;
}

.overlay_logo {
    width: 55.6px;
    height: 66.48px;
    margin-bottom: 16px;
}

.title_underline {
    height: 0;
    width: 90px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 3px;
    border-top-style: none;
    margin-top: 16px;
    display: flex;
}

.overlay_content_left {
    width: 35%;
    display: flex;
}

.overlay_content_right {
    width: 65%;
    display: flex;
    justify-content: center;
}

.overlay_add_content_position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_edit_content_position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_title_position {
    display: flex;
    flex-direction: column;
}

.user_position {
    display: flex;
    width: 200px;
}

.user_overlay {
    border: 3px solid white;
    background-color: rgba(209, 209, 209, 1);
    border-radius: 559px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 60px;
}

.input_container_overlay {
    width: 422px;
    height: 48px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.input_size_overlay {
    border: none;
    width: 380px;
    height: 24px;
    margin-left: 16px;
}

.input_size_overlay:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.margin_input_icon {
    margin-right: 16px;
}

.overlay_close_button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    margin-top: 40px;
    margin-right: 0px;
}

.overlay_close_button:hover {
    background-color: rgba(209, 209, 209, 0.314);
    cursor: pointer;
}

.edit_overlay_close_button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    margin-top: 40px;
    position: relative;
    left: 225%;
    bottom: 180px;
}

.edit_overlay_close_button:hover {
    background-color: rgba(209, 209, 209, 0.314);
    cursor: pointer;
}

.close_icon_position {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form_position {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d_none {
    display: none;
}

.submit_icon {
    width: 111px;
    height: 57px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.submit_icon:hover {
    background-color: rgba(41, 171, 226, 1);
}

.create_icon {
    width: 214px;
    height: 57px;
    border-radius: 10px;
    border: 1px none;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.create_icon img {
    margin-left: 8px;
}

.create_icon:hover {
    background-color: rgba(41, 171, 226, 1);
}

.cancel_icon {
    width: 126px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    color: rgba(42, 54, 71, 1);
    font-family: "inter";
    font-weight: 700;
    font-size: 21px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-image: url(../../img/iconoir_cancel.png);
}

.cancel_icon:hover {
    color: rgba(41, 171, 226, 1);
    border-color: rgba(41, 171, 226, 1);
    background-image: url(../../img/iconoir_cancel_blue.png);
}

.delete_button_overlay {
    width: 113px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    color: rgba(42, 54, 71, 1);
    font-family: "inter";
    font-weight: 700;
    font-size: 21px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete_button_overlay:hover {
    color: rgba(41, 171, 226, 1);
    border-color: rgba(41, 171, 226, 1);
}

.form_buttons {
    display: flex;
}

.slide-in-notification {
    width: 326px;
    height: 74px;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80%;
    left: 100%;
    transform: translateY(-50%);
    border-radius: 10px;
    z-index: 1000;
    transition: left 0.5s ease-out;
}

.show-notification {
    animation: slideIn 0.5s forwards, slideOut 0.5s 2.5s forwards;
}

.contact_selected {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 10px;
}

.contact_selected:hover {
    background-color: rgba(42, 54, 71, 1);
    cursor: default; 
}


@keyframes slideIn {
    from {
        left: 100%;
    }

    to {
        left: 50%;
        transform: translateX(-30%);
    }
}

@keyframes slideOut {
    from {
        left: 50%;
        transform: translateX(-30%);
    }

    to {
        left: 100%;
    }
}

.alphabetical_index {
    width: 352px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.letter {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 14px;
    height: 24px;
    margin-left: 80px;
}

.separator {
    width: 352px;
    margin: 0 auto;
    border: 1px solid rgba(209, 209, 209, 1);
}

.mobile_contact_button {
    cursor: pointer;
}

.contact_overlay {

    position: relative;
    width: 100%;
    right: 0;
    transition: none;
}

.options_menu {
    position: fixed;
    top: 85%;
    right: -150px;
    /* Startpunkt außerhalb des sichtbaren Bereichs */
    width: 116px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options_menu.active {
    right: 0px;
    opacity: 1;
}

.options_menu.hide {
    right: -150px;
    opacity: 0;
}

.options_menu button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 96px;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.options_menu button img {
    margin-right: 10px;
}

.options_menu button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.edit_overlay {
    width: 1212px;
    height: 592px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1002;
    border-radius: 30px;
    animation: slideInRight 0.5s ease-out;
    display: flex;
}

.edit_overlay_content_right {
    width: 65%;
    display: flex;
    justify-content: center;
}

.contact_small_card.contact_selected:hover {
    background: rgba(42, 54, 71, 1); /* Beibehaltung der Hintergrundfarbe */
    color: white; /* Beibehaltung der Schriftfarbe */
    cursor: default; /* Kein Hover-Effekt */
}



.contact_selected {
    background-color: rgba(42, 54, 71, 1); 
    color: white; 
    border-radius: 10px;
}



@media (min-width: 1000px) {
    .mobile_contact_button {
        display: none;
    }

    .back_icon {
        display: none;
    }

    .option_icon_mobile {
        display: none;
    }

    .close_icon_white {
        display: none;
    }

    .close_icon_edit {
        display: block;
    }

}

@media (max-width: 1100px) {
    .overlay_close_button {
        margin-right: 55px;
    }
}

@media (max-width: 1250px) {
    .overlay {
        width: 96%;
    }

    .edit_overlay {
        width: 96%;
    }
}

@media (max-width: 1160px) {
    .overlay_title {
        font-size: 50px;
    }

    .overlay_subtitle {
        font-size: 23px;
    }

    .edit_overlay {
        width: 90%;
    }
}


@media (max-width: 1100px) {
    .input_container_overlay {
        width: 87%;
    }

}

@media (max-width: 1330px) {
    .contact_title_container {
        display: flex;
        flex-direction: column;
        align-items: normal;
        width: 213px;
        height: 56px;
        gap: 16px;
        margin-top: 120px;
        margin-left: 24px;
    }

    .contact_title {
        margin: 0;
        font-size: 47px;
    }

    .contact_subtitle {
        font-size: 20px;
        margin: 0;
    }

    .title_separator_respo {
        width: 90px;
        border-top-width: thin;
        border-radius: 2px;
        display: block;
    }

    .title_separator {
        display: none;
    }

    .contact_large_card {
        margin-top: 80px;
        margin-left: 24px;
    }

    .contact_icon_large {
        width: 80px;
        height: 80px;
        font-size: 27px;
        font-weight: 400;
        margin-right: 24px;
    }

    .large_card_name {
        font-size: 36px;
    }
}

@media (max-width: 1000px) {
    .close_icon {
        display: none;
    }

    .close_icon_edit {
        display: none;
    }

    .d_none_contacts {
        display: none;
    }

    .contact_details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_overlay {
        position: fixed;
        top: 97px;
        right: 0;
        width: 80%;
        height: 81%;
        background-color: white;
        z-index: 1000;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .main_container {
        justify-content: center;
    }

    .contacts_scrollbar_position {
        width: 100%;
    }

    .contact_title_container {
        display: flex;
        flex-direction: column;
        align-items: normal;
        width: 300px;
        height: 56px;
        gap: 16px;
        margin-top: 40px;
        margin-left: 24px;
    }

    .contact_title {
        margin: 0;
        font-size: 47px;
    }

    .contact_subtitle {
        font-size: 20px;
        margin: 0;
    }

    .title_separator_respo {
        width: 90px;
        border-top-width: thin;
        border-radius: 2px;
        display: block;
    }

    .contact_large_card {
        margin-top: 80px;
        margin-left: 24px;
        width: 300px;
    }

    .contact_icon_large {
        width: 80px;
        height: 80px;
        font-size: 27px;
        font-weight: 400;
        margin-right: 24px;
    }

    .large_card_name {
        font-size: 36px;
    }

    .large_cards_buttons {
        display: none;
    }

    .contact_list {
        margin: 0;
        width: 100%;
    }

    .title_separator {
        display: none;
    }

    .button_container {
        display: none;
    }

    .contact_main_container {
        padding-top: 0;
        box-shadow: none;
    }

    .scroll_area_contacts {
        height: 90%;
    }

    .alphabetical_index {
        margin-top: 0;
    }

    .contact_small_card {
        margin-left: 40px;
        margin-top: 8px;
        padding-right: 8px;
    }

    .contact_icon {
        margin-left: 24px;
    }

    .mobile_contact_button {
        position: fixed;
        bottom: 100px;
        right: 20px;
    }

    .contact_view {
        width: 100%;
    }

    .back_icon {
        display: block;
        position: fixed;
        top: 140px;
        right: 40px;
    }

    .back_icon:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .overlay {
        width: 396px;
        height: 760px;
        flex-direction: column;
    }

    .edit_overlay {
        width: 396px;
        height: 760px;
        flex-direction: column;
    }

    .edit_overlay_content_right {
        width: 50%;
    }

    .edit_contact_icon_large {
        font-size: 27px;
        font-weight: 400;
        margin-right: 24px;
    }

    .overlay_content_left {
        width: 396px;
        height: 352px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .overlay_title_container {
        width: 396px;
        height: 352px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        align-items: flex-start;
    }

    .overlay_title_position {
        margin-left: 24px;
    }

    .overlay_add_content_position {
        flex-direction: column;
    }

    .overlay_logo {
        display: none;
    }

    .overlay_title {
        font-size: 47px;
    }

    .overlay_subtitle {
        font-size: 20px;
    }

    .overlay_content_right {
        width: 100%;
        position: relative;
    }

    .user_overlay {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 1;
    }

    .edit_user_overlay {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 1;
    }

    .overlay_close_button {
        margin: 0;
        position: absolute;
        top: -52%;
        left: 90%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    .edit_overlay_close_button {
        margin: 0;
        position: relative;
        top: -24%;
        left: 90%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    .cancel_icon {
        display: none;
    }

    .form_buttons {
        justify-content: center;
    }

    .input_container_overlay {
        width: 364px;
        height: 41px;
        margin-bottom: 16px;
    }

    .form_position {
        justify-content: normal;

        margin-top: 100px;
    }

    .create_icon {
        margin-left: 0;
        margin-top: 16px;
    }

    .option_icon_mobile {
        position: fixed;
        bottom: 100px;
        right: 20px;
    }

    #option_normal {
        display: block;
    }

    #option_blue {
        display: none;
    }

    .overlay_background {
        z-index: 1060;
    }

}

@media (max-width: 449px) {
    .edit_overlay_close_button {
        top: -18%;
    }

    p {
        font-size: 12px;
    }

    .contact_icon {
        width: 36px;
        height: 36px;
    }

    .separator {
        width: 280px;
    }

    .contact_main_container {
        width: 300px;
    }

    .contact_small_card {
        margin-left: 0;
        width: 290px;
    }

    .letter {
        margin-left: 36px;
    }

    .alphabetical_index {
        margin-top: 0;
        width: 160px;
    }

    .contact_main_container {
        width: 302px;
    }

    .contact_icon_large {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }

    .large_card_name {
        font-size: 20px;
    }

    .tall_card_header {
        height: 60px;
        margin-top: 24px;
    }

    .contact_view {
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 100%;
        z-index: 1;
    }

    .edit_overlay {
        width: 300px;
        height: 650px;
    }

    .overlay_content_left {
        width: 300px;
        height: 260px;
    }

    .overlay_title_container {
        width: 300px;
    }

    .overlay_title {
        font-size: 40px;
    }

    .input_container_overlay {
        width: 280px;
    }

    .edit_overlay_content_right {
        width: 34%;
    }

    .edit_user_overlay {
        top: 43%;
    }

    .overlay {
        width: 300px;
        height: 650px;
    }

}