@font-face {
    font-family: "inter";
    src: url('../../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: "inter";
}


.edit_task_overlay_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.edit_task_overlay {
    display: none;
    width: 525px;
    min-height: auto;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task_category {
    width: 164px;
    height: 36px;
    margin-top: 40px;
    margin-bottom: 32px;
    border-radius: 8px;
    background-color: rgba(0, 56, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_task_overlay_head {
    width: 445px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.edit_overlay_content_position {
    display: flex;
    flex-direction: column;
    width: 445px;
}

.edit_overlay_close_button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    margin-top: 40px;
}

.edit_overlay_close_button:hover {
    background-color: rgba(209, 209, 209, 0.314);
    cursor: pointer;
}

.edit_task_overlay_title {
    font-size: 20px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
    display: flex;
    flex-direction: column;
    width: 445px;
}

.input_title {
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 40px;
    margin-top: 8px;
}

.description_position {
    display: flex;
    flex-direction: column;
    width: 445px;
}

.description_text {
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
    margin-top: 8px;
    resize: block;
    max-height: 200px;
    min-height: 150px;
}

.edit_date_position {
    width: 445px;
    display: flex;
    flex-direction: column;
}

.date {
    height: 48px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 40px;
}

.edit_prio_position {
    width: 445px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.prio_position label {
    font-size: 19px;
    font-weight: 700;
}

.urgency {
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.urgentIcon,
.lowIcon {
    width: 20px;
    height: 14.51px;
    object-fit: contain;
}

.mediumIcon {
    width: 20px;
    height: 7.45px;
    object-fit: contain;
}

.urgentStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 16px 10px 16px 10px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 136px;
    height: 56px;
    margin-top: 8px;
}

.urgentStatus:hover {
    box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.edit_urgent_selected {
    background-color: rgba(255, 61, 0, 1);
    color: white;
}

.edit_medium_selected {
    background-color: rgba(255, 168, 0, 1);
    color: white;
}

.edit_low_selected {
    background-color: rgba(122, 226, 41, 1);
    color: white;
}


.prio_icon_position {
    display: flex;
    align-items: center;
}

.prio_icon {
    margin-left: 8px;
}

.assigned_position {
    display: flex;
    flex-direction: column;
    width: 445px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.custom-select {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 440px;
    cursor: pointer;
}

.custom-select-trigger {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-select-trigger img.arrow-icon {
    width: 7.21px;
    height: 4.6px;
    transition: transform 0.3s ease;
}

.custom-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 438px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.custom-options.open {
    display: block;
}

.custom-options.open+.custom-select-trigger img.arrow-icon {
    transform: rotate(90deg);
}

.custom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 10px;
}

.custom-option:hover {
    background-color: #f0f0f0;
}

.df_content {
    display: flex;
    overflow-y: auto;
    max-height: 100px;
}

.contact_icon {
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 122, 0, 1);
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    text-align: center;
    align-content: space-evenly;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.subtasks_position {
    width: 445px;
}

.input-container-addTask {
    position: relative;
}

.input-container-addTask input {
    height: 48px;
    width: 100%;
    padding: 8px;
    padding-right: 70px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 6px;
    border: 1px solid rgba(209, 209, 209, 1);
}

.icon-container {
    position: absolute;
    right: 10px;
    top: 48%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 3px;
}

.input-icon {
    height: 24px;
    width: auto;
    cursor: pointer;
}

.input-icon.hidden {
    display: none;
}

.input-icon:hover {
    background-color: lightgrey;
    border-radius: 999px;
}

.separatorSubtask {
    height: 24px;
    border-left: 1px solid rgba(209, 209, 209, 1);
    margin: 0 5px;
    display: none;
}

.input-container-addTask input:focus+.icon-container .separatorSubtask {
    display: block;
}

.input-container-addTask input:focus+.icon-container #subtaskAdd {
    display: none;
}

.input-container-addTask input:focus+.icon-container #subtaskCancel,
.input-container-addTask input:focus+.icon-container #subtaskSave {
    display: inline;
}


.checkbox_position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 8px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.sub_task_position {
    display: flex;
    align-items: center;
}

.sub_task {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.buttons {
    width: 445px;
    height: 24px;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 40px;
    align-items: center;
}

.ok_button {
    width: 89px;
    height: 57px;
    border-radius: 10px;
    border: none;
    background-color: rgba(42, 54, 71, 1);
    font-size: 21px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ok_button:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.scroll_area {
    height: 705px;
    overflow-y: scroll;
    position: relative;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.scroll_area::-webkit-scrollbar {
    width: 8px;
}

.scroll_area::-webkit-scrollbar-track {
    background: transparent;
}

.scroll_area::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 1);
    border-radius: 12px;
    border: 5px solid transparent;
    background-clip: padding-box;
}

.scroll_area::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 1);
}

.select-wrapper {
    position: relative;
    width: 100%;
    user-select: none;
}

.select-box {
    position: relative;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-bottom: 12px;
}

.select-trigger {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.arrow-icon {
    width: 8px;
    height: 8px;
    transition: transform 0.3s ease;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.select-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 438px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.select-options .option:hover {
    background-color: #f0f0f0;
}

.select-box.active .select-options {
    display: block;
}

.select-box.active .arrow-icon {
    transform: rotate(180deg);
}

.profile-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.editSubtaskList {
    max-height: 140px;
    overflow-y: auto;
}

#subtasks_container {
    max-height: 120px;
    width: 100%;
    overflow-y: auto;
}

#task_description {
    max-height: 150px;
    overflow-y: auto;
}

@media (max-width: 1000px) {
    .overlay_background {
        z-index: 1060;
    }

    .buttons {
        align-items: center;
    }
}

@media (max-width: 600px) {
    .buttons {
        width: 360px;
        align-items: center;
    }

    .edit_task_overlay {
        width: 400px;
    }

    .scroll_area {
        width: 360px;
        height: 600px;
    }

    .edit_task_overlay_head {
        width: 360px;
    }

    #editTaskForm {
        width: 360px;
    }

    .edit_task_overlay_title {
        width: 360px;
    }

    .description_position {
        width: 360px;
    }

    .edit_date_position {
        width: 360px;
    }

    .edit_prio_position {
        width: 360px;
    }

    .urgency {
        width: 360px;
    }

    .urgentStatus {
        width: 90px;
        height: 40px;
        margin: 2px;
    }

    .urgentStatus:hover {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.22);
    }

    .assigned_position {
        width: 360px;
    }

    .subtasks_position {
        width: 360px;
    }

    .edit_prio_position {
        margin-bottom: 16px;
    }

    .ok_button {
        width: 80px;
        height: 50px;
        margin-bottom: 0;
    }

    .select-options {
        width: 357px;
    }
}

@media (max-width: 420px) {

    .tall_task_overlay {
        width: 300px;
        min-height: 600px;
        overflow-y: scroll;
    }

    .buttons {
        width: 260px;
    }

    .edit_task_overlay {
        width: 300px;
        height: 80%;
        justify-content: space-between;
    }

    .scroll_area {
        width: 260px;
        height: 600px;
    }

    .edit_task_overlay_head {
        width: 260px;
    }

    #editTaskForm {
        width: 260px;
    }

    .edit_task_overlay_title {
        width: 260px;
    }

    .description_position {
        width: 260px;
    }

    .edit_date_position {
        width: 260px;
    }

    .edit_prio_position {
        width: 260px;
    }

    .urgency {
        width: 260px;
        height: 40px;
    }

    .urgentStatus {
        width: 80px;
        height: 32px;
        margin: 2px;
        font-size: 12px;
        font-weight: 400;
    }

    .urgentStatus:hover {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.22);
    }

    .assigned_position {
        width: 260px;
    }

    .subtasks_position {
        width: 260px;
    }

    .edit_prio_position {
        margin-bottom: 16px;
    }

    .ok_button {
        width: 80px;
        height: 50px;
        margin-bottom: 0;
    }

    .select-options {
        width: 258px;
    }
}