@font-face {
    font-family: "inter";
    src: url('../../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    margin: 0;
    height: 100vh;
    font-family: "inter";
    background-color: #F6F7F8;
    overflow: hidden;
}

.hidden {
    display: none;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.head_content_position {
    height: 20vh;
}

.logoContainer {
    position: relative;
    height: 100vh;
    width: 100%;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    height: auto;
    width: 200px;
    animation: slide-to-top-left 1s ease-in-out forwards;
}

@keyframes slide-to-top-left {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(0.60985);
    }
}

.page1 {
    opacity: 1;
    animation: fade-out-page 0.5s ease-in-out forwards;
}


@keyframes fade-out-page {
    0% {
        opacity: 0;
        /* Start, komplett transparent */
    }

    25% {
        opacity: 0.25;
        /* Leicht sichtbar */
    }

    50% {
        opacity: 0.5;
        /* Halb sichtbar */
    }

    75% {
        opacity: 0.75;
        /* Fast vollständig sichtbar */
    }

    100% {
        opacity: 1;
        /* Endzustand, vollständig sichtbar */
    }
}


.hidden {
    display: none;
}

.text_style_responsive {
    font-family: "inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

.text_style {
    font-family: "inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

.signUp_button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    border: none;
    padding: 15px 16px 15px 16px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-family: "inter";
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
}

.signUp_button_responsive {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    border: none;
    padding: 15px 16px 15px 16px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-family: "inter";
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
}

.signUp_button:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signUp_button_position {
    display: flex;
    align-items: center;
    gap: 35px;
    position: relative;
    right: 77px;
    top: 88px;
    justify-content: flex-end;
}

.signUp_button_position_responive {
    display: flex;
    align-items: center;
    gap: 35px;
    position: unset;
    margin: 0 0 12px 0;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}


.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login_card {
    height: 493px;
    width: 652px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.login_brand_container {
    width: 315px;
    height: 89px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_card_brand {
    font-family: "inter";
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    margin: 0;
}

.brand_container {
    width: 315px;
    height: 89px;
    gap: 16px;
}

.login_card_brand_separator {
    width: 150px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 8px;
    border-block-start: none
}

.df_align_items {
    display: flex;
    align-items: center;
}

.df {
    display: flex;
}

.input_main_container {
    width: 422px;
    height: 196px;
    margin-top: 32px;
}

.input_container_size {
    width: 422px;
    height: 152px;

}

a {
    text-decoration: none;
    color: unset;
}

.input_container {
    width: 422px;
    height: 48px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.input_size {
    border: none;
    width: 380px;
    height: 24px;
    margin-left: 16px;
}

.input_size:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.margin_input_icon {
    margin-right: 16px;
}

.checkbox {
    margin-right: 8px;
}

.login_button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    border: none;
    background-color: #2A3647;
    color: #FFFFFF;
    font-family: "inter";
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.login_button:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.guest_button {
    width: 177px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    color: rgba(42, 54, 71, 1);
    font-family: "inter";
    font-weight: 700;
    font-size: 21px;
    background-color: #FFFFFF;
}

.guest_button:hover {
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    border-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.button_position {
    display: flex;
    justify-content: center;
    gap: 35px;
}

p {
    margin: 0;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
}

.GTC_position {
    display: flex;
    justify-content: space-around;
    width: 246px;
    height: 35px;
    margin-bottom: 80px;
}

.privacy {
    color: rgba(168, 168, 168, 1);
}

.privacy:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgba(41, 171, 226, 1);
}

.legal {
    color: rgba(168, 168, 168, 1);
}

.legal:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgba(41, 171, 226, 1);
}

.input-error {
    border: 2px solid red;
}

.responsiveSignUpContainer {
    display: none;
}

@media (max-width: 700px) {
    .login_card {
        width: 90%;
        height: 515px;
    }

    .content {
        height: 77vh;
    }
}

@media (max-width: 630px) {
    .responsiveSignUpContainer {
        display: block;
    }

    .signUp_button_position {
        display: none;
    }

    .GTC_position {
        position: absolute;
        bottom: 20px;
        margin-bottom: unset;
    }

    .head_content_position {
        height: 10vh;
    }

    .logo {
        width: 64px;
        height: 78.03px;
    }

    .logo_container {
        position: absolute;
        top: 37px;
        left: 38px;
    }

    .logo {
        padding: 0;
    }
}

@media (max-width: 530px) {
    .input_main_container {
        width: unset;
    }

    .input_container_size {
        width: unset;
    }

    .input_container {
        width: unset;
    }

    .responsiveWidth {
        width: 90%;
    }
}

@media (max-width: 430px) {
    .button_position {
        flex-direction: column;
        align-items: center;
    }

    .login_button {
        width: 180px;
    }

    .login_card_brand {
        font-size: 47px;
    }

    .login_card_brand_separator {
        width: 88px;
    }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) and (min-device-height: 667px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .head_content_position {
        display: none;
    }

    .content {
        padding: 12px 0 0 0;
    }

    .responsiveSignUpContainer {
        margin: 16px 0 0 0;
    }
}