body {
    margin: 0;
    background-color: #F6F7F8;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}

.icon_size {
    height: 121.97px;
    position: relative;
    left: 77px;
}

.text_style {
    font-family: "inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

.signUp_button {
    width: 126px;
    height: 55px;
    border-radius: 8px;
    border: none;
    padding: 15px 24px 15px 24px;
    gap: 10px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-family: "inter";
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
}

.signUp_button_position {
    display: flex;
    align-items: center;
    gap: 35px;
    position: relative;
    top: 67px;
    right: 77px;
}

.head_content_position {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 20vh;
}

.signUp_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.signUp_card {
    height: 630px;
    width: 598px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.arrow_position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.arrow_container {
    position: absolute;
    left: 32px;
}

.signUp_brand_container {
    width: 315px;
    height: 89px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp_card_brand {
    font-family: "inter";
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    margin: 0;
}

.brand_container {
    width: 315px;
    height: 89px;
    gap: 16px;
}

.signUp_card_brand_separator {
    width: 150px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 8px;
    border-block-start: none
}

.df_align_items {
    display: flex;
    align-items: center;
}

.input_main_container {
    width: 422px;
    height: 286px;
}

.input_container_size {
    width: 422px;
    height: 286px;
}

.input_container {
    width: 422px;
    height: 48px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.input_size {
    border: none;
    width: 380px;
    height: 24px;
    margin-left: 16px;
}

.margin_input_icon {
    margin-right: 16px;
}

.checkbox {
    margin-right: 8px;
}

.checkbox_container {
    width: 231px;
    height: 24px;
    display: flex;
    align-items: flex-end;
}

p {
    margin: 0;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    color: rgba(168, 168, 168, 1);
}

.GTC_position {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 246px;
    height: 35px;
}
